<section id="registerPane" class="container">

    <header>
        <h1>{{title}}</h1>
    </header>

    <form [formGroup]="projectCreatorForm" (ngSubmit)="createProject(projectCreatorForm.value)" novalidate>

        <div class="input-field col s6">
            <input class="validate" type="text" name="name" id="name" formControlName="name">
            <label data-error="wrong" data-success="right" class="active" for="name">Name</label>
        </div>

        <div class="input-field col s6">
            <textarea class="materialize-textarea validate" name="description" id="description" formControlName="description"></textarea>
            <label data-error="wrong" data-success="right" class="active" for="description">Description</label>
        </div>

        <!-- Modal trigger -->
        <button [disabled]="!projectCreatorForm.valid" class="btn waves-effect waves-light right" type="submit" name="action">Create
            <i class="material-icons right">send</i>
        </button>
    </form>

    <a [routerLink]="[ '/app' ]">Back to project list</a>

</section>

<app-dialog (closedDialog)="closedDialog($event)" [openDialog]="openDialog" [properties]="dialogProperties"></app-dialog>