<div class="container">

  <header>
    <h2>{{title}}</h2>
  </header>

  <form [formGroup]="profileForm">

    <div class="row">

      <div class="input-field col l6 m6 s12" formGroupName="name">
        <i class="material-icons prefix">face</i>
        <input id="firstName" type="text" class="firstname" formControlName="firstName">
        <label for="firstName">First Name</label>
      </div>

      <div class="input-field col l6 m6 s12" formGroupName="name">
        <i class="material-icons prefix">face</i>
        <input id="lastName" type="text" class="firstname" formControlName="lastName">
        <label for="lastName">Last Name</label>
      </div>

    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">computer</i>
      <input id="skype" type="text" class="skype" formControlName="skype">
      <label for="skype">Skype account</label>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">flash_on</i>
      <input formControlName="skills" materialize="autocomplete" [materializeParams]="[{'data': temp}]" type="text" id="autocomplete-input"
        class="autocomplete" (keyup.enter)="addSkill(profileForm.value.skills)">
      <label for="autocomplete-input">Skill</label>
    </div>


    <p>Skills:</p>
      <div class="chip" *ngFor="let skill of skills; let i=index">
        {{skill.name}}
        <span (click)="removeSkill(i)">x</span>
      </div>
    
    <div class="input-field col s12">
      <i class="material-icons prefix">event_seat</i>
      <input formControlName="prefferedRoles" materialize="autocomplete" [materializeParams]="[{'data': roles}]" type="text" id="autocomplete-input"
        class="autocomplete" (keyup.enter)="addRole(profileForm.value.prefferedRoles)">
      <label for="autocomplete-input">Preffered roles</label>
    </div>


    <p class="left">Preffered Roles:</p>
    <div class="chip" *ngFor="let role of prefferedRoles; let i=index">
      {{role.role}}
      <span (click)="removeRole(i)">x</span>
    </div>

    <br/>

    <div class="file-field input-field">
      <div class="btn">
        <span>Avatar</span>
        <input (change)="loadFile($event)" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" formControlName="avatar">
      </div>
    </div>


    <button hidden></button>
    <button [disabled]="!profileForm.valid" class="btn right" (click)="saveProfile(profileForm.value)">Submit</button>

  </form>
</div>

<app-dialog (closedDialog)="closedDialog($event)" [openDialog]="openDialog" [properties]="dialogProperties"></app-dialog>