<section id="registerPane" class="z-depth-2">

    <header>
        <i class="material-icons">account_circle</i>
        <h1>{{title}}</h1>
    </header>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" novalidate>

        <div class="input-field col s6" style="margin: 20px">

            <input style="margin-bottom: 0;" type="email" name="email" id="email" formControlName="email">
            <label class="active" for="email">Email</label>

            <div class="incorrect_validation" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched"> Invalid email format</div>
            <div class="incorrect_validation" *ngIf="isAccountExists"> Account already exists</div>

        </div>

        <div class="input-field col s6" style="margin: 20px">

            <input style="margin-bottom: 0" type="password" name="password" id="password" formControlName="password">
            <label class="active" for="password">Password</label>

            <div class="incorrect_validation" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
                Password needs to have [A-Z][a-z][1-9]
            </div>

        </div>

        <div class="input-field col s6" style="margin: 20px">

            <input style="margin-bottom: 0" type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
            <label class="active" for="confirmPassword">Repeat password</label>

            <div *ngIf="registerForm.controls['confirmPassword'].touched && !registerForm.controls['confirmPassword'].valid">
                <div class="incorrect_validation" *ngIf="registerForm.hasError('mismatchedPasswords')">
                    Password does not matched
                </div>
            </div>

        </div>

        <button [disabled]="!registerForm.valid" (click)="openModal()" class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>

    </form>

</section>

<div id="go-to-login-link">
    <span>Already have an account?</span> <a [routerLink]="[ '/login' ]">Back to login</a>
</div>

<app-dialog (closedDialog)="closedDialog($event)" [openDialog]="openDialog" [properties]="dialogProperties"></app-dialog>