#registerPane{
    max-width: 400px;
    margin: 100px auto;
    // border-bottom: #26a69a 1px solid;
}

h1{    
    margin: 0 auto 40px auto;
    padding: 3px;
    font-size: 34px;
    text-align: center;
    background: #26a69a;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}

button{
    float: right;
    position: relative;
    top:15px;
    margin-left: 100px;
    margin-top: 0;
}

a{
    margin-top: 25px;
    float: left;
    text-align: right;
    font-weight: 300;
    padding: 0 25px;
}

a:hover{
    color: #26a69a;
    cursor: pointer;
}

.incorrect_validation{
    float: right;
    color: #e53935;
    font-weight: 300;
    font-size: 12px;
    padding:0;
    margin:0;
}

.custom_input {
    margin-bottom: 0;
}

.modal{
    max-width: 480px;
    max-height: 200px;
    height: 166px;
}

.sign-add-args{
    color: #26a69a;
}

#success-info{
    float: right;
    font-size: 24px;
    margin-top: 10px;
    color: #26a69a;
}

#fail-info{
    float: right;
    font-size: 24px;
    margin-top: 10px;
    color: #bf360c;
}

.continue-button{
    top: -20px;
    right: 20px;
    padding-right: 20px;
}