<div class="container">

  <h2>#WorkerFinder</h2>

  <form [formGroup]="newWorkerForm" (ngSubmit)="sendRequestToJoin(newWorkerForm.value)">

    <input type="email" formControlName="email" placeholder="Type person email">
    <p class="note">##NOTE: Person needs to be registered in application</p>

    <button  type="submit" class="btn">Request to Join</button>
    <button [routerLink]="['../workers']">temp</button>

  </form>

  <div class="row loaded_user" *ngIf="loadedWorker">

    <div class="col s12 m4 l3">

      <img class="avatar circle z-depth-2" src="{{loadedWorker.$avatar_url}}" alt="avatar" />

    </div>

    <div class="col s12 m8 l9">

      <p class="name">Name: {{loadedWorker.$firstName + ' ' + loadedWorker.$lastName}}</p>
      <p class="email">Email: {{loadedWorker.$email}}</p>

      <div class="role">

        <p>Role:</p>

        <div class="chip" *ngFor="let position of loadedWorker.$preffered_roles">
          {{position}}
        </div>

      </div>

      <br/>

      <div class="skills">

        <p>Skills:</p>

        <div class="chip" *ngFor="let skill of loadedWorker.$skills">
          {{skill}}
        </div>

      </div>

    </div>

  </div>

</div>