<div class="container">

  <h2>#WorkerFinder</h2>

  <form [formGroup]="newWorkerForm" (ngSubmit)="sendRequestToJoin(newWorkerForm.value)">

    <input type="email" formControlName="email" placeholder="Type person email">
    <p class="note">##NOTE: Person needs to be registered in application</p>

    <button  type="submit" class="btn">Request to Join</button>

  </form>

  <div class="row loaded_user" *ngIf="loadedProfile">

    <div class="col s12 m4 l4">

      <img class="avatar circle z-depth-2" src="{{loadedProfile.avatar.data}}" alt="avatar" />

    </div>

    <div class="col s12 m8 l8">

      <p class="name">Name: {{loadedProfile.name.fullName}}</p>
      <p class="email">Email: {{loadedProfile.profileId.id}}</p>

      <div class="role">

        <p>Role:</p>

        <div class="chip" *ngFor="let position of loadedProfile.prefferedRoles">
          {{position.role}}
        </div>

      </div>

      <br/>

      <div class="skills">

        <p>Skills:</p>

        <div class="chip" *ngFor="let skill of loadedProfile.skills">
          {{skill.name}}
        </div>

      </div>
    </div>

  </div>

</div>