<div class="container">

  <header>
    <h2>#UserFinder</h2>
  </header>

  <form [formGroup]="userFinderForm">

    <input type="email" formControlName="email" placeholder="Type person email">
    <p>##NOTE: Person needs to be registered in application</p>
    <button class="btn" [disabled]="!userFinderForm.valid" (click)="loadUser(userFinderForm.value.email)">Load user</button>

  </form>

  <app-profile-view (isFound)="isFound($event)" [userId]="userId" [readOnly]="true"></app-profile-view>
  <button [disabled]="!enablePreparingOffer" (click)="prepareJobOffer()" type="submit" class="btn right">Prepare offer</button>

</div>