<app-nav></app-nav>
<section id="project-list-section">

  <h2>Projects</h2>

  <div class="collection">

    <div *ngFor="let item of projectItems">

      <a [routerLink]="[ '/project' ]" class="collection-item">
        <span>{{item.projectProperties.name}}</span>
        <div class="additional_args">

          <i class="material-icons">monetization_on</i>
          <i class="material-icons">perm_contact_calendar</i>
          <!-- <i class="material-icons">public</i> -->
          <i class="material-icons">lock_outline</i>

        </div>
      </a>

    </div>

  </div>

  <button [routerLink]="[ '/create-project' ]" class="btn waves-effect waves-light" type="submit" name="action">Create project
    <i class="material-icons right">send</i>
  </button>
  
  <div *ngIf="isProjectListEmpty()">



  </div>

</section>