.workers{
    padding: 0;
    margin: 5px 0 0 10px;
}

.workers li{
    margin-left: 5px;
}

.workers li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.workers li a:hover{
    color: #ffab40
}

.header{
    margin: 0 auto 40px auto;
    padding: 3px;
    font-size: 34px;
    text-align: center;
    background: #26a69a;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}

.date{
    float: right;
    font-weight: lighter;
    padding: 0;
    margin: 5px;
}

h2{
    margin: 0 auto 40px auto;
    padding: 3px;
    font-size: 34px;
    text-align: center;
    background: #26a69a;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
    float: right;
    display: block;
    max-width: 300px;
}

.card-title{
    font-size: 14px;
    text-align: center;
}

.card-content .short-description{
    font-size: 12px;
    font-weight: 300;
}

.difficult{
    padding-top: 10px;
    font-weight: 300;
    font-size: 12px; 
}

.difficult-easy{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.dependency-indepedient{
    text-transform: uppercase;
    font-weight: bold;
}

.progress-header{
    font-size: 12px;
    padding-top: 10px;
    font-weight: 300;
}

.card-action .material-icons{
    color: #fff;
}

.card-action .material-icons:hover{
    color: rgba(0, 0, 0, 0.37);
}