<nav>
  <div class="nav-wrapper">
    <!-- <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a> -->
    <ul class="right">

      <li>
        <a class="dropdown-button" data-activates="dropdown-notifications">
          <i *ngIf="notifications.length > 0" class="material-icons">notifications_active</i>
          <i *ngIf="notifications.length === 0" class="material-icons">notifications_none</i>
        </a>
      </li>

      <li>
        <a class="left">
          <!-- <i class="material-icons left">account_circle</i> -->
          <!-- <img class="avatar circle" src="../../assets/avatar.png" alt="avatar"> -->
          <div class="avatar circle left"></div>
          <span *ngIf="profile">{{profile.name.firstName}} {{profile.name.lastName}}</span>
        </a>
      </li>
      <li>
        <a class="dropdown-button" data-activates="dropdown1">
          <i class="material-icons">more_vert</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul id="dropdown1" class="dropdown-content">
  <!-- <li><a href="#!"><i class="material-icons left">forum</i>forum</a></li>  -->
  <li>
    <a href="#!">
      <i class="material-icons left">message</i>messages</a>
  </li>
  <!-- <li><a href="#!"><i class="material-icons left">monetization_on</i>monetization_on</a></li> -->
  <li>
    <a href="#!">
      <i class="material-icons left">notifications</i>notifications</a>
  </li>
  <li class="divider"></li>
  <li>
    <a [routerLink]="[ '../login' ]">
      <i class="material-icons left">directions_run</i>logout</a>
  </li>
</ul>

<ul id="dropdown-notifications" class="dropdown-content ">

    <li class="notifications-item" *ngFor="let notification of notifications">

        <div>
          <i *ngIf="notification.type === 'task_problem'" class="material-icons left">new_releases</i>
          <i *ngIf="notification.type === 'meeting'" class="material-icons left">date_range</i>
          <i *ngIf="notification.type === 'new_user'" class="material-icons left">person_add</i>

          <p class="notification-item-text left">{{notification.text}}</p>
        </div>
      </li>

  <li class="more">
    <a [routerLink]="[ '../login' ]" class="right">Show more</a>
    <a (click)="clear()" class="left">Clear notifications</a>
  </li>

</ul>

<router-outlet></router-outlet>