<div class="container">

  <h2>#AssignmentCreator</h2>

  <form [formGroup]="formAssignment" (submit)="createAssignment(formAssignment.value)">


    <div class="input-field">
      <i class="material-icons prefix">assignment</i>
      <input data-length="16" id="title" type="text" class="title" formControlName="title">
      <label for="title">Title</label>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">assignment</i>
      <textarea id="description" class="materialize-textarea" data-length="120" formControlName="description" data-length="120"></textarea>
      <label for="description">Description</label>
    </div>

    <div class="row">

      <mat-icon>people</mat-icon>

      <mat-form-field>
        <mat-select placeholder="Workers" multiple formControlName="workers">
          <mat-option *ngFor="let worker of workers" [value]="worker">
            {{ worker.name ? worker.name.firstName + ' ' + worker.name.lastName : ''}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="row">

      <mat-icon>flash_on</mat-icon>

      <mat-form-field>
        <mat-select placeholder="Difficult">
          <mat-option *ngFor="let difficult of difficults" [value]="difficults">{{difficult}}</mat-option>
        </mat-select>
      </mat-form-field>


    </div>

    <div class="input-field">
      <i class="material-icons prefix">event</i>
      <input id="deadline" type="text" class="datepicker" materialize="pickadate" formControlName="deadline">
      <label for="deadline">Deadline</label>
    </div>

    <button type="submit" class="btn right" [disabled]="!formAssignment.valid">Submit</button>

  </form>

</div>