<section id="loginPane" class="z-depth-2">

    <header>
        <i class="material-icons">face</i>
        <h1>Authentication</h1>
    </header>

    <form [formGroup]="form" (ngSubmit)="login(form.value)" novalidate>

        <div class="input-field col s10 m10 l10" style="margin: 20px">
            <input type="email" formControlName="email" name="email" id="email">
            <label class="active" for="email">Email</label>
        </div>

        <div class="input-field col s10 m10 l10" style="margin: 20px">
            <input type="password" formControlName="password" name="password" id="password">
            <label class="active" for="password">Password</label>
        </div>


        <button (click)="openModal()" [disabled]="!form.valid" class="btn waves-effect waves-light" type="submit" name="action">Login</button>


    </form>

</section>

<div id="additinal-options">
    <a class="register-link" [routerLink]="['/register']">Register</a>
    <a class="remember-password right">Remember password</a>
</div>

<!-- Modal Structure -->

<div id="modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">

    <div class="modal-header">
        <h1>Performing authentication</h1>
    </div>

    <div class="modal-content">

        <div *ngIf="preloader">

            <div class="progress">
                <div class="indeterminate"></div>
            </div>

        </div>

        <div *ngIf="!preloader">

            <div id="login-successfully" *ngIf="!problemWithLogin">
                <p>Authentication successfully</p>
            </div>

            <div id="login-failed" *ngIf="problemWithLogin">
                <p>Login invalid</p>
            </div>

        </div>


    </div>

    <div *ngIf="!preloader">

        <div *ngIf="!problemWithLogin" class="modal-footer">
            <button [routerLink]="[ '/app']" (click)="closeModal()" class="btn continue-button">Continue</button>
        </div>

        <div *ngIf="problemWithLogin" class="modal-footer">
            <button [routerLink]="[ '/login' ]" (click)="closeModal()" class="btn continue-button">Try again</button>
        </div>

    </div>
</div>