@import "../../../assets/colors.scss";
@import "../../../assets/fonts.scss";

#loginPane {
  & {
    max-width: 350px;
    margin: 70px auto 30px auto;
    background: #fff;
    text-align: center;
  }

  header {
    & {
      margin-bottom: 25px;
      text-align: center;
      padding: 20px;
    }

    i {
      font-size: 60px;
      color: $color-primary;
    }

    h1 {
      margin: 0 auto;
      padding: 5px;
      font-size: $font-header-size;
      text-align: center;
      color: rgb(163, 163, 163);
      font-weight: 300;
    }
  }

  .btn {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 90%;
  }

  #action-buttons {
    text-align: center;
  }
}

#additinal-options {
  & {
    max-width: 350px;
    margin: 0px auto;
  }
  a {
    font-weight: 500;
    color: $color-primary;
  }
}

.modal {
  & {
    max-width: 50%;
  }

  .modal-header {
    h1 {
      font-size: $font-header-size;
      padding: 5px;
      margin: 0;
      background: $color-primary;
      border-bottom: $color-border-primary 1px solid;
      color: white;
      text-align: center;
      font-weight: 200;
    }
  }

  .modal-content {
    & {
      text-align: center;
    }

    #login-failed, #login-successfully {
      & {
        text-align: center;
      }

      p {
        font-size: 30px;
        font-weight: 300;
        margin: 0;
      }
    }
  }

  .modal-footer {
    text-align: center;
  }
}

@media only screen and (max-width: 452px) {
    #loginPane{
        max-width: 100%;
    }
  .modal {
    max-width: 90%;
  }
}
