<div id="modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  
  <div class="modal-header">
    <h1>{{properties.title}}</h1>
  </div>

  <div class="modal-content">

    <div *ngIf="properties.showLoader">

      <div class="progress">
        <div class="indeterminate"></div>
      </div>

    </div>

    <div *ngIf="!showLoader">
      <p>{{properties.message}}</p>
    </div>


  </div>

  <div *ngIf="!showLoader">

    <div *ngIf="!properties.isError" class="modal-footer">
      <button (click)="closeModal()" class="btn continue-button">Continue</button>
    </div>

    <div *ngIf="properties.isError" class="modal-footer">
      <button (click)="closeModal()" class="btn continue-button">Try again</button>
    </div>

  </div>
</div>