<div class="container">

  <h2>#Workers</h2>

  <ul class="collection">
      <li class="collection-item avatar" *ngFor="let worker of workers">
        
          <div class="worker-main">

              <img src="{{worker.avatar_url}}" alt="" class="circle" style="object-fit: cover;">
              <span class="title">{{worker.projectRole}}</span>
              <p *ngIf="worker.name" class="worker-name">{{worker.name.firstName}} {{worker.name.lastName}}</p>    

          </div>

          <div class="workers-options">

              <a href="#!" class="">
                  <i class="material-icons blue-grey-text darken-4">info</i>
                </a>
                <a href="#!" class="">
                    <i class="material-icons blue-grey-text darken-4">insert_comment</i>
                </a>

          </div>
        
        </li>
  </ul>

  <div class="add-new-worker">

    <button class="btn right" [routerLink]="['../user-finder']"><i class="material-icons add-person">person_add</i></button>

  </div>

</div>